body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
#menuAbrir{
    left: 0;
    top: 0;
    position: absolute;
    background: none;
    border: none;
    color: #fff;
}
.box-menu{
    height: 100vh;
    position: absolute;
    top: 30px;
    z-index: 4000;
    display: none;
   
    
}

.box-menu>a>img{
    width: 500px;
    height: 100vh;
    animation: desl 1s linear;
    
}
@keyframes desl{
    0%{width: 0%;}
    50%{width: 50%;}
    75%{width: 75%;}
    100%{width: 100%;}
}


.box-menu>a>.gradiente{
    z-index: 2000;
    background: linear-gradient(rgb(17, 17, 17),rgba(226, 224, 223, 0.945)) ;
    width: 500px;
    height: 100hv;
    animation: grad 1s linear;
    background: black;
}

@keyframes grad {
    0%{width:0%;height: 0%; opacity: 0.5; background: black;}
    50%{width:50%; height: 50%; opacity: 0.6; background: black;}
    75%{width:75%; height: 75%; opacity: 0.7;background: black;}
    100%{width:100%; height: 100%; opacity: 0.8;background: black;}
}



.barra-up{
    top: 0;
    z-index: -1000;
    background-color: red;
    position: absolute;
    width: 100%;
    height: 500px;
    background-image: url(/img/7.png);
    background-size: 135%;
    animation: mover3 10s infinite linear alternate;
    
}
@keyframes mover3{
    from{
        background-position: left top ;
    }
    to{
        background-position: right bottom;
    }
}
.barra-up>.row>a{
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    color: rgb(240, 226, 226);
    z-index: 3000;
}
.gradient{
    position: relative;
    z-index: 2000;
    background: linear-gradient(rgb(17, 17, 17),rgba(226, 224, 223, 0.945)) ;
    opacity: 0.5;
    height: 500px;
    width: 100%;
}

.container>h1{
    margin-top: 50px;
    margin-left: 60px;
    color:#fff;
    width: 350px;
    padding: 20px;
    font-family: Verdana;
    font-size:40px;
}
.container>.card-text{
    margin-top: 5px;
    background: rgba(238, 234, 234, 0.541);
    width: 100%;
    padding: 20px;
}
.card-text>p{
    color: #fff;
    height: 450px;
    padding: 30px;
    border-radius: 20px;
    width: 450px;
    margin: 20px;
    background: linear-gradient(rgb(127, 177, 173),rgb(245, 213, 213));

}
.card-text>p>img{
    width: 70%;
    margin: 10px;
    padding: 5px;
    border-radius: 50%;
    border: 4px solid rgba(11, 11, 44, 0.671);
}
.container>.row>img{
    width: 320px;
    height: 300px;
}
.container>.section1{
    margin-top: 550px;
    background:linear-gradient(black,rgb(56, 54, 54));
    padding: 30px;
    color: white;
}
.container>.section1>h1{
    margin: 20px;
}
.title-card>h1{
    width:800px; 
    height: 100px; 
    text-align: center; 
    margin-top: 80px;
}
.title-card>h1{ 
    text-align: center;
    width:100%; 
    margin-top: 100px;
    background: linear-gradient(black,rgb(46, 45, 45));
    color: #fff;
    
}
.title-card>img{
    width: 400px;
    height: 500px;
}

footer{
    width: 100%;
    height: 400px;
    background: linear-gradient(black,rgb(61, 58, 58));
}